GEMINI_API_KEY=YOUR_GEMINI_API_KEY
VITE_FIREBASE_PROJECT_ID=idg-core-iq
VITE_FIREBASE_APP_ID=1:483943647262:web:8e1b75d8f699e33385c60f
VITE_FIREBASE_API_KEY=AIzaSyDMBCK6L1rI917P-cM3u2oa3BnNNfo4a74
VITE_FIREBASE_AUTH_DOMAIN=idg-core-iq.firebaseapp.com
VITE_FIREBASE_STORAGE_BUCKET=idg-core-iq.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=483943647262
VITE_FIREBASE_MEASUREMENT_ID=G-8HVBZ94F5L
VITE_GOOGLE_MAPS_API_KEY=AIzaSyCtOZXBhgQvWZxYqj_kMjVYVYPaUBc3gT0
